@media screen and (max-width: 1250px) {
  .app_bar_link {
    display: none;
  }
}

.app_bar_link {
  font-family: 'AntipastoPro', sans-serif;
  font-size: 0.9rem;
  margin-left: 2rem;
  text-transform: uppercase;
}

.app_bar_link:hover {
  cursor: pointer;
}

.app_bar_link_sign_out {
  background: none;
  font-family: 'AntipastoPro', sans-serif;
  font-size: 0.9rem;
  border: none;
  margin: 0rem 0rem 0rem 2rem;
  padding: 0;
  text-transform: uppercase;
}

.app_bar_link_sign_out:hover {
  cursor: pointer;
}
