@media screen and (max-width: 1350px) {
  .search_input_mobile {
    display: flex;
  }
}

@media screen and (min-width: 1350px) {
  .search_input_mobile {
    display: none;
  }
}

.search_input_mobile {
  max-width: 400px;
  transition: width 1s;
  width: 32px;
}

.search_input_mobile_expanded {
  width: 80%;
}

.search_input_mobile_expanded input {
  margin-left: 8px !important;
  padding: 0px 12px 0px 12px !important;
  width: 100% !important;
}

.search_input_mobile input {
  border: none;
  border-radius: 16px;
  font-size: 0.9rem;
  margin: 0px;
  outline: none;
  padding: 0px;
  width: 0%;
}

.search_input_mobile button {
  background-color: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
}

.search_input_mobile button:hover {
  cursor: pointer;
}

.search_input_expanded_mobile input {
  width: 100%;
}


