@media screen and (max-width: 1250px) {
  .bottom_nav {
    display: flex;
  }
}

@media screen and (min-width: 1250px) {
  .bottom_nav {
    display: none;
  }
}

.bottom_nav {
  align-items: center;
  background-color: white;
  border-top: 1px solid #CCCCCC;
  bottom: 0;
  height: 55px;
  position: fixed;
  width: 100vw;
}

.icon_container_bottom_nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
}

.icon_container_bottom_nav:hover {
  cursor: pointer;
  background-color: #F1F1F1;
}

.icon_container_bottom_nav_inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.icon_container_bottom_nav_label {
  flex-grow: 0;
  font-family: 'AntipastoPro', sans-serif;
  font-size: 0.8rem;
  margin: 8px 0px 0px 0px;
  text-transform: uppercase;
}