@media screen and (max-width: 1350px) {
  .accordion {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 1350px) {
  .accordion {
    height: 80%;
    width: 40%;
  }
}

.accordion {
  background: white;
  border: 2px solid white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.activate {
  display: none;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin: 0 0 0 -15px;
  opacity: 0;
}

.activate:checked ~ .drop_down {
  max-height: none;
}

.activate:checked ~ .title_arrow_icon {
  transform: rotate(270deg);
}

.drop_down a {
  background: #222;
}

.drop_down a:hover {
  background: #111;
}

.drop_down {
  max-height: 0;
  overflow: hidden;
}

.drop_down a {
  background: #222;
}

.drop_down_menu {
  background: white;
  display: block;
  position: 'relative';
}

.drop_down, .menu a, .drop_down_menu, .title_arrow_icon {
  -webkit-transform: translateZ(0);  
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu {
  background: white;
  height: 100%;
  overflow-y: auto;
}

.menu_title {
  background-color: #293E6A;
  color: white;
  cursor: pointer;
  display: block;
  font-family: 'AntipastoPro', sans-serif;
  font-weight: 800;
  padding: 16px;
  text-transform: uppercase;
}

.progress_container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.title_arrow_icon {
  position: absolute;
  right: 8px;
  top: 8px;
  transform: rotate(180deg);
}