.address_block {
  display: flex;
}

.edit_icon {
  right: 8px;
  top: 16px;
  position: absolute;
}

.edit_icon:hover {
  cursor: pointer;
}

.info_block {
  padding: 24px 16px 0px 16px;
  position: relative;
}

.info_block_header {
  font-family: 'AntipastoPro', sans-serif;
  font-weight: 800;
  margin: 0;
  padding-bottom: 16px;
  text-transform: uppercase;
}

.submit_button_container {
  margin-bottom: 16px;
  width: 100%;
}