@media screen and (max-width: 600px) {
  .coming_soon_header {
    font-size: 1.25rem;
  }
  .coming_soon_image {
    height: 12vh;
  }
}

@media screen and (min-width: 600px) {
  .coming_soon_header {
    font-size: 3rem;
  }
  .coming_soon_image {
    height: 24vh;
  }
}

.coming_soon_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.coming_soon_header {
  font-family: 'AntipastoPro', sans-serif;
  font-weight: 100;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.coming_soon_image {
  object-fit: cover;
  object-position: 50% 50%;
  margin-left: -16px;
  margin-top: 16px;
  width: auto;
}