@media screen and (max-width: 600px) {
  .message_link_message {
    font-size: 3rem;
  }
}

@media screen and (min-width: 600px) {
  .message_link_message {
    font-size: 4rem;
  }
}

.message_link_button {
  max-width: 80vw;
  width: 300px;
}

.message_link_container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  background-size: cover;
  background-position: center;
  min-height: 400px;
  overflow: hidden;
  width: 100%;
}

.message_link_inner_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90vw;
}

.message_link_message {
  color: white;
  font-family: 'AntipastoPro', sans-serif;
  font-weight: 100;
  margin-bottom: 24px;
  text-align: center;
}