.error {
  color: rgb(255, 0, 0, 0.7);
  font-size: 1em;
}

.errors_list {
  list-style-type: none;
  margin: 12px 0px 8px 0px;
  padding-left: 0;
}

.text_box_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  position: relative;
}

.text_box_label {
  font-family: 'AntipastoPro', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.text_box_input {
  background-color: white;
  border: none;
  box-shadow: 0px 0px 0px 1.25px #B7B7B7;
  border-radius: 16px;
  font-size: 1rem;
  height: 48px;
  margin: 0;
  padding: 0px 16px 0px 16px;
  font-weight: 100;
}

.text_box_input:focus {
  box-shadow: 0px 0px 0px 1.25px #494949;
  transition: box-shadow 0.6s linear;
  outline: none;
}
