@media screen and (max-width: 600px) {
  .sign_in_form {
    width: 90vw;
  }
}

@media screen and (min-width: 600px) {
  .sign_in_form {
    width: 380px;
  }
}

.email {
  padding-bottom: 32px;
}

.password {
  padding-bottom: 32px;
}

.sign_in_form_button {
  flex-grow: 1;
}

.sign_in_buttons {
  display: flex;
  padding: 4px 0px 0px 0px;
  width: 100%;
}

.sign_in_buttons div:first-child {
  margin-right: 4px;
}

.sign_in_buttons div:last-child {
  margin-left: 4px;
}

.sign_up {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.sign_up_link {
  color: rgb(255, 255, 255, 0.7);
  font-weight: 300;
  padding-bottom: 2px;
}

.sign_up_link:hover {
  color: white;
  border-bottom: 1px solid white;
}