.coming-soon-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.coming-soon-header {
  font-family: 'AntipastoPro', sans-serif;
  font-size: 3vw;
  font-weight: 100;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.coming-soon-image {
  object-fit: scale-down;
  object-position: 50% 50%;
  height: 24vh;
  margin-top: 16px;
  width: 24vw;
}