@media screen and (max-width: 1200px) {
  .app-bar-link, .icon-container {
    display: none;
  }
  .bottom-nav {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .menu-icon, .nav, .bottom-nav, .icon-container-mobile {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .app-bar-title {
    font-size: 1.5rem;
  }
  .app-bar-links {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .background-image {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .app-bar-title {
    font-size: 2rem;
  }
  .background-image-mobile {
    display: none;
  }
}

.app-bar {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0.3rem 3rem 0.3rem 3rem;
  text-align: center;
  width: 100%;
}

.app-bar-icons {
  align-items: center;
  display: flex;
  justify-content: center;
}

.app-bar-icon {
  background-size: 32px 32px;
  margin-left: 1.6rem;
}

.app-bar-icon:hover {
  cursor: pointer;
}

.app-bar-links {
  align-items: center;
  display: flex;
}

.app-bar-link {
  font-family: 'AntipastoPro', sans-serif;
  font-size: 0.8rem;
  margin-left: 2rem;
  text-transform: uppercase;
}

.app-bar-link:hover {
  cursor: pointer;
}

.app-bar-title {
  font-family: 'AntipastoPro', sans-serif;
  font-weight: 100;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.background-image {
  object-fit: cover;
  height: 80vh;
  width: 100vw;
}

.background-image-mobile {
  object-fit: cover;
  height: auto;
  width: 100vw;
}

.bottom-nav {
  align-items: center;
  background-color: white;
  border-top: 1px solid #CCCCCC;
  bottom: 0;
  height: 55px;
  position: fixed;
  width: 100vw;
}

.header {
  align-items: center;
  background-color: black;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0px 6px 0px 4px;
  width: 100vw;
}

.icon-container {
  margin-left: 1rem;
}

.icon-container:hover {
  cursor: pointer;
}

.icon-container-mobile {
  margin-left: 1rem;
}

.icon-container-mobile:hover {
  cursor: pointer;
}

.icon-container-bottom-nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
}

.icon-container-bottom-nav:hover {
  cursor: pointer;
  background-color: #F1F1F1;
}

.icon-container-bottom-nav-inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.icon-container-bottom-nav-label {
  flex-grow: 0;
  font-family: 'AntipastoPro', sans-serif;
  font-size: 0.8rem;
  margin: 8px 0px 0px 0px;
  text-transform: uppercase;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu-icon {
  background-color: black;
  border: none;
  height: 40px;
  padding: 0;
  width: 40px;
}

.menu-icon:hover {
  cursor: pointer;
}

.menu-item {
  padding: 16px 0px 16px 0px;
}

.menu-item:hover {
  cursor: pointer;
  background-color: #F1F1F1;
}

.menu-item-link {
  font-family: 'AntipastoPro', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

.nav {
  background: #FFFFFF;
  border-right: 1px solid #CCCCCC;
  height: 100%;
  left: -100%;
  max-width: 300px;
  position: fixed;
  text-align: center;
  top: 50px;
  transition: left 0.75s;
  width: 80vw;
  z-index: 2;
}

.nav-open {
  left: 0;
  transition: left 0.75s;
}